name: Update Side Story Title

on:
  workflow_dispatch :

jobs:
  fetch:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.PAT }}
          
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.x'
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
      - name: Update Side Story Title
        run: |
          python ./code/updateSideTitle.py

      - name: update file and push to remote
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: -Side Story Title- Updated"